In [1]:
import scheduler

In [2]:
sc = scheduler.Scheduler()

In [3]:
sc.show_day(2024, 9, 21)

,datetime,long,event_type,event_id,city,place,tags,event_name,description,creator,admin,speakers,guests
0,2024-09-21 10:50:13.546523,30,открытая встреча,1,Новосибирск,комната для переговоров,#it#money#300-kilobacks-sec,Споры по поводу дизайна бота,Обсуждаем дизайн кнопочек бота,482402,1,#482402,all

In [4]:
import datetime

In [9]:
sc.check_event('SiniyIney', datetime.datetime(year=2024, month=9, day=21, hour=12, minute=00), 90)

             datetime  long      place creator   speaker listeners
0 2024-09-21 13:00:00    60  SiniyIney    dfgd  4gebgdgf     sertd
1 2024-09-21 13:00:00    60  SiniyIney    dfgd  4gebgdgf     sertd