In [4]:
import pandas as pd
import datetime

In [ ]:
def start_stop_calc()

In [ ]:
def start_stop_calc(start: dict, long: int) -> list:
    '''
    Принимаем дату и время начала мероприятия и длительность
    в минутах,
    '''

In [59]:
def add_event(df, start, long, place, creator):
    '''Добавление события в календарь'''
    df.loc[len(df)] = datetime.datetime(year=2023, month=1, day=1, hour=23, minute=11, second=59)

TypeError: add_event() takes 0 positional arguments but 1 was given

In [61]:
columns = ['datetime',
               'place',
               'creator',
               'speaker',
               'listeners'
               ]
df = pd.DataFrame(columns=columns)

In [3]:
def init_db(filename):
    columns = ['datetime',
               'place',
               'creator',
               'speaker',
               'listeners'
               ]
    df = pd.DataFrame(columns=columns)
    df.to_csv(filename, sep='\t', encoding='utf-8')

In [4]:
init_db('scheduler.csv')

In [64]:
dtt = datetime.datetime(year=2023, month=1, day=1, hour=23, minute=11, second=59)
dtt

datetime.datetime(2023, 1, 1, 23, 11, 59)

In [70]:
dtt = dtt + datetime.timedelta(minutes=9)
dtt

datetime.datetime(2023, 1, 2, 8, 11, 59)

In [53]:
ts = dtt.timestamp()
ts += 3600
ts

1672596719.0

In [55]:
date = datetime.datetime.fromtimestamp(ts)
date

datetime.datetime(2023, 1, 2, 0, 11, 59)

In [62]:
def add_event():
    df.loc[len(df)] = {'datetime': datetime.datetime(year=2024, month=1, day=1, hour=23, minute=11, second=59),
                       'place': 'main_hall',
                       'creator': 'me',
                       }

In [63]:
add_event()
df

             datetime      place creator  speaker  listeners
0 2024-01-01 23:11:59  main_hall      me      NaN        NaN

In [ ]:
def check_datetime():

In [72]:
dt = datetime.datetime(year=2024, month=1, day=1, hour=23, minute=11)
dt

datetime.datetime(2024, 1, 1, 23, 11)

In [73]:
right_br = dt + datetime.timedelta(minutes=60)
right_br

datetime.datetime(2024, 1, 2, 0, 11)

In [74]:
event_1 = {'year': 2024, 'month': 9, 'day': 20, 'hour': 15, 'minute': 15}
event_2 = {'year': 2024, 'month': 9, 'day': 20, 'hour': 18, 'minute': 00}

In [5]:
columns = ['datetime',
           'long',
           'place',
           'creator',
           'speaker',
           'listeners'
        ]
df = pd.DataFrame(columns=columns)

In [6]:
df.loc[len(df)] = {
    'datetime': datetime.datetime(year=2024, month=9, day=20, hour=15, minute=15),
    'long': 30,
    'place': 'KronaHall',
    'creator': '547588764634',
    'speaker': "YaroLit",
    'listeners': 'sertd' 
}

In [7]:
df.loc[len(df)] = {
    'datetime': datetime.datetime(year=2024, month=9, day=20, hour=18, minute=00),
    'long': 30,
    'place': 'KronaHall',
    'creator': '547588764634',
    'speaker': "YaroLit",
    'listeners': 'sertd' 
}

In [80]:
df.to_csv('test.csv', sep='\t', encoding='utf-8', index=False)

In [92]:
df[(df.datetime > datetime.datetime(year=2024, month=9, day=20, hour=15, minute=00)) & (df.datetime < datetime.datetime(year=2024, month=9, day=20, hour=16, minute=00))]

             datetime  long      place       creator  speaker listeners
0 2024-09-20 15:15:00    30  KronaHall  547588764634  YaroLit     sertd

In [2]:
import scheduler

In [3]:
sc = scheduler.Scheduler('test.csv')

AttributeError: 'DataFrame' object has no attribute 'datetime'

In [4]:
sc.show_day(2024, 9, 20)

,Unnamed: 0,datetime,long,place,creator,speaker,listeners
0,0,2024-09-20 15:15:00,30,KronaHall,547588764634,YaroLit,sertd
1,1,2024-09-20 18:00:00,30,KronaHall,547588764634,YaroLit,sertd

In [6]:
sc.check_datetime(datetime.datetime(year=2024, month=9, day=20, hour=14, minute=00), 300)

,Unnamed: 0,datetime,long,place,creator,speaker,listeners
0,0,2024-09-20 15:15:00,30,KronaHall,547588764634,YaroLit,sertd
1,1,2024-09-20 18:00:00,30,KronaHall,547588764634,YaroLit,sertd

In [8]:
event = {
    'datetime': datetime.datetime(year=2024, month=9, day=21, hour=13, minute=00),
    'long': 60,
    'place': 'SiniyIney',
    'creator': 'dfgd',
    'speaker': "4gebgdgf",
    'listeners': 'sertd' 
}
sc.add_event(event=event)

NameError: name 'sc' is not defined

In [10]:
sc.df

,Unnamed: 0,datetime,long,place,creator,speaker,listeners
2,NaN,2024-09-21 13:00:00,60,SiniyIney,dfgd,4gebgdgf,sertd
1,1.0,2024-09-20 18:00:00,30,KronaHall,547588764634,YaroLit,sertd
0,0.0,2024-09-20 15:15:00,30,KronaHall,547588764634,YaroLit,sertd

In [11]:
sc.bd_save()