In [1]:
import pandas as pd
import sqlite3 as sq

import users

In [34]:
# создаем тестовую базу данных
df = pd.DataFrame(columns=['user_id', 'tags'])
df.loc[len(df)] = ['111111', '#food#sex#rock-n-roll']
df.loc[len(df)] = ['222222', '#drugs#economic#Ukraine']
df.loc[len(df)] = ['333333', '#Ukraine#sex#music']

table_name = "users"
conn = sq.connect('{}.sqlite'.format(table_name))
df.to_sql(table_name, conn, if_exists='replace', index=False)
conn.close()

In [2]:
# создаем экземпляр класса для работы с базой данных клиентов

users_bd = users.Users()

In [3]:
# выводим всех пользователей в базе

users_bd.show_users()

  user_id                      tags
0  111111     #food#sex#rock-n-roll
1  222222   #drugs#economic#Ukraine
2  333333        #Ukraine#sex#music
3  555555  #medicine#psycho#alcohol

In [10]:
tags = users_bd.show_user_tags(user_id='111111')
tags

0    #food#sex#rock-n-roll
Name: tags, dtype: object

In [13]:
'#sex' in str(tags)

True

In [10]:
# добавляем пользователя

users_bd.add_user(user_id=555555, tags="#medicine#psycho#alcohol")
users_bd.show_users()

  user_id                      tags
0  111111     #food#sex#rock-n-roll
1  222222   #drugs#economic#Ukraine
2  333333        #Ukraine#sex#music
3  555555  #medicine#psycho#alcohol

In [5]:
# удаляем пользователя по ID

users_bd.rm_user(user_id='222222')
users_bd.show_users()

  user_id                      tags
0  111111     #food#sex#rock-n-roll
2  333333        #Ukraine#sex#music
3  555555  #medicine#psycho#alcohol

In [11]:
# ищем пользователя по тэгу

users_bd.find_by_tag("#sex")

  user_id                   tags
0  111111  #food#sex#rock-n-roll
2  333333     #Ukraine#sex#music

In [12]:
# сохраняем базу
users_bd.bd_save()